name: Test Nextflow Tower

on:
  workflow_dispatch:

jobs:
  run-pipeline:  
    name: Test Nextflow Tower 
    
    runs-on: ubuntu-latest

    env:
      SRC_DIR: $GITHUB_WORKSPACE/src

    steps:     
      - name: checkout repo
        uses: actions/checkout@v3

      - name: build source dir
        run: mkdir -p $SRC_DIR

      - name: install nextflow
        run: |
          wget -q https://get.nextflow.io -O $SRC_DIR/nextflow
