name: Test Nextflow Tower

on:
  workflow_dispatch:

jobs:

  run-pipeline:  
    name: Test Nextflow Tower 
    
    runs-on: ubuntu-latest
    container:
      image: nextflow/nextflow:23.06.0-edge

    steps:     
      - name: checkout repo
        uses: actions/checkout@v3.5.3

      - name: Run Pipeline
        run : nextflow run $GITHUB_WORKSPACE/main.nf -with-tower ${{ secrets.TOWER_TOKEN }}
